# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IntelliJ related
*.iml
.idea/

# VS Code related
.vscode/

# macOS related
*.DS_Store

# Android related
/android/.gradle/
/android/app/debug.keystore
